
h1{
font-family: 'Kanit', sans-serif;
Justify-content:center;
Display:flex;
border: 5px solid black;
    background-Color:lightyellow;
    color:red;
}
ul{ border-style:double;
    padding:5px;
    border: 5px solid black;
    font-family: 'Rubik Bubbles', cursive;
    background-Color:lightyellow;
    color:red;
}
.Menu{
  Display:flex;
  Justify-content:space-around;
  margin:50px;
  border: 5px solid black;
  font-family: 'Kanit', sans-serif;
  background-Color:lightyellow;
  color:red;
}
img{width:800px;
   height:400px;
   border: 5px solid black;
   transition: 2s;}
body {
  background-color: gold;
  text-align:center;
}
.Labels{
  Display:flex;
  Justify-content:space-around;
}
img:hover{
  transform:scale(1.1);
}
.Name{
  font-family: 'Rubik Bubbles', cursive;
 font-size:50px;
  color:blue;
  
}
u{
  color:blue;
}
button{
  color: purple;
}
